<html>
  <head>
    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-gltf-model id="bathroom" position="-1 0.5 -3" rotation="0 45 0" src="https://cdn.glitch.global/503e73c2-1a6d-46f5-9ad0-44c4b6e80bd1/simple_bathroom_baking.glb?v=1665716287800"></a-gltf-model>
      <a-gltf-model id="pokemon" position="-1 2 -3" src="https://cdn.glitch.global/503e73c2-1a6d-46f5-9ad0-44c4b6e80bd1/inktober_day_13_kind.glb?v=1665716287421"></a-gltf-model>
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
      <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
      <a-sky color="#ECECEC"></a-sky>
      <a-entity camera look-controls wasd-controls="acceleration:100" position="0 1.6 0"></a-entity>
    </a-scene>
  </body>
</html>